*{padding: 0; margin: 0; box-sizing: border-box}.color-primary {color: #4C1D95} 
.margin-16 {margin: 16px}
.bg-secondary {background-color: #FFE8D6} 
.padding-8 {padding: 8px} 
.fs-24 {font-size: 24px; 
    line-height: 24px; } 
.corner-8 {border-radius: 8px}
.color-white {color: white} 
.bg-purple {background-color: purple} 
.padding-24 {padding: 24px} 
.fs-54 {font-size: 54px; 
    line-height: 54px; } 
.corner-16 {border-radius: 16px}
.color-blue {color: blue} 
.fs-20 {font-size: 20px; 
    line-height: 20px; } 
.corner-12 {border-radius: 12px}
.border-primary {border: 1px solid #4C1D95}
.color-red {color: red} 
.corner-24 {border-radius: 24px}
.color-black {color: black} 
.corner-18 {border-radius: 18px}
.border-black {border: 1px solid black}
.margin-20 {margin: 20px}
.fs-18 {font-size: 18px; 
    line-height: 18px; } 
